[submodule "Hyphenator"]
	path = public/Hyphenator
	url = https://github.com/davidar/Hyphenator.git
[submodule "typebase.css"]
	path = typebase.css
	url = https://github.com/devinhunt/typebase.css.git
[submodule "normalize.css"]
	path = normalize.css
	url = https://github.com/necolas/normalize.css.git
[submodule "readability"]
	path = readability
	url = https://github.com/mozilla/readability
[submodule "scrollProgress"]
	path = scrollProgress
	url = https://github.com/jeremenichelli/scrollProgress
[submodule "contents"]
	path = contents
	url = https://github.com/gajus/contents.git
[submodule "Baseline.js"]
	path = baseline
	url = https://github.com/davidar/Baseline.js.git
[submodule "string.js"]
	path = string.js
	url = https://github.com/jprichardson/string.js.git
[submodule "normalize-opentype.css"]
	path = normalize-opentype.css
	url = https://github.com/kennethormandy/normalize-opentype.css.git
[submodule "typogr.js"]
	path = typogr
	url = https://github.com/ekalinin/typogr.js.git
[submodule "dropcap.js"]
	path = dropcap
	url = https://github.com/adobe-webplatform/dropcap.js.git
[submodule "highlightjs/cdn-release"]
	path = highlight
	url = https://github.com/highlightjs/cdn-release.git
[submodule "KaTeX"]
	path = KaTeX
	url = https://github.com/Khan/KaTeX.git
